<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COFFEE</title>
    <link rel="stylesheet" type="text/css" href="account/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="account/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="account/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="account/css/iofrm-theme3.css">

    <meta name="facebook-domain-verification" content="117641401105410" />

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

</head>
<body>
    @RenderBody()
    <script src="account/js/jquery.min.js"></script>
    <script src="account/js/popper.min.js"></script>
    <script src="account/js/bootstrap.min.js"></script>
    <script src="account/js/main.js"></script>
</body>
</html>